* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;

  #search-box {
    anchor-name: --hub;
    display: grid;

    >input {
      grid-row: 1;
      grid-column: 1;
      padding: 1rem;

      &[type="reset"] {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        background: #222;
        justify-self: right;
        align-self: center;
        color: #777;
        text-align: center;
        padding: 0 0;
      }

      &[type="text"] {
        anchor-name: --search;
        font-size: 2rem;
        width: 20rem;
        background: black;
        color: white;
      }
    }
  }

  form~span {
    position: fixed;
    position-anchor: --hub;
    top: anchor(center);
    left: anchor(center);
    white-space: nowrap;
    font-weight: 600;

    --i: sibling-index();
    --n: sibling-count();

    --angle: calc(var(--i) * 137.5deg);
    --r: calc(sqrt(var(--i)) * 80px);
    transform: translate(calc(cos(var(--angle)) * var(--r) - 50%), calc(sin(var(--angle)) * var(--r) - 50%));

    --wave: calc(sin(var(--i) * 83deg) * 0.5 + 0.5);
    font-size: calc(0.75rem + var(--wave) * 0.75rem);


    padding: 0.2em 0.6em;


    --box-color: oklch(0.65 0.2 calc(var(--i) / var(--n) * 360));
    color: var(--box-color);
    background: white;
    animation: fade 100ms ease forwards calc(var(--i) * 50ms);
  }
}

@keyframes fade {
  to {
    color: white;
    background: var(--box-color);
  }
}